@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@font-face {
    font-family: 'seolleimcool-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/*------------ FONT -------------*/
/*
    font-family: 'seolleimcool-SemiBold';
    font-family: 'Noto Sans KR', sans-serif;
*/
/*-------------- ROOT -------------*/
:root{
    --primary-color:#333;
    --second-color:#ccc;
    --blue-color: #409afa;
    --font-size-title:32px;
    --font-size-sub:24px;
}

*{
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--primary-color);
    line-height: 24px;
}

body.active{
    overflow: hidden;
}

/*------------- HEADER ------------*/
header{
    width: 100%;
    background: #fff;
    position:sticky;
    top:0;
    z-index: 1;
    box-shadow: 1px 0 1px #333;
}

header .logo{
    text-align: center;
    padding: 40px 0 30px;
    font-size: var(--font-size-title);
}

header .logo a{
    font-family: 'seolleimcool-SemiBold';
}

.movie-search-title{
    padding: 0 0 10px;
    position: sticky;
    top:0;
}

.movie-search-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    gap: 10px;
    font-size: 16px;
}

.movie-search-inner h2{
    font-size: var(--font-size-sub);
    transform: translateY(1px);
}

.movie-search{
    position: relative;
}

.movie-search [type="text"]{
    width: 300px;
    padding: 5px 35px 5px 5px;
    box-sizing: border-box;
    text-indent: 5px;
}

.movie-search [type="text"]::placeholder{
    color: var(--second-color);
    font-size: 14px;
}
.movie-search-text [type="text"]:focus{
    outline: none;
}

.movie-search .fa-solid{
    color: var(--second-color);
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 18px;
    transform: translateY(40%);
    cursor: pointer;
}

.movie-search-inner button{
    border: none;
    background-color: #e7e7e7;
    padding: 9px 10px 6px;
    cursor: pointer;
    border-radius: 3px;
}

/*------------- FOOTER ------------*/
footer{
    width: 100%;
    padding: 30px 0;
    background-color: var(--primary-color);
    text-align: center;
    color: #fff;
    font-size: 14px;
}

footer > *{
    color: #fff;
}

footer address{
    margin-top: 35px;
}

footer address ul{
    display: flex;
    justify-content: center;
    gap: 50px;
}

footer address ul li h3{
    font-size: 16px;
    color: #fff;
}

footer address ul li .team-list-info{
    display: flex;
    gap: 10px;
}

footer address li a i{
    color:#fff;
    font-size: var(--font-size-sub);
    margin-top: 15px;
}

/* go-top btn */
.go-top{
    position: fixed;
    right: 15px;
    bottom: 20px;
    cursor: pointer;
    display: none;
}

.go-top i{
    font-size: 48px;
    color: #ddd;
}

.go-top i:hover{
    color: var(--blue-color);
}