/* responsive */
@media(max-width:768px){
    .card-ids{
        flex-wrap: wrap;
        gap: 30px;
    }

    .modal-wrap .modal{
        padding: 50px 20px 30px;
    }

    .card-inner ul li .back{
        font-size: var(--font-size-sub);
    }
    
    .review-write-inner{
        flex-wrap: wrap;
    }

    .review-write-inner > button{
        width: 100%;
        height: 30px;
    }

    .movies-review .movies-review-inner{
        max-width: 100%;
    }
    
    .review-user-form{
        justify-content: space-between;
        gap: 0;
        width: 100%;
    }

    .review-user-form > p{
        width: 50%;
    }

    .review-user-form > p > span{
        margin-left: 35px;
    }

    .review-user-form > p > input{
        width: 50%;
    }

    .movies-btn-list{
        gap: 7px;
        font-size: 14px;
    }

    .movies-btn-list li a{
        padding: 5px 15px;
    }

    .movies-detail-list{
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin-top: 132px;
    }

    .poster-img{
        overflow: visible;
    }

    .movies-content{
        width: 90%;
    }

    section.movies-detail{
        height: 1260px;
    }

    section.movies-detail > .movies-detail-inner{
        height: 1260px;
    }
    
}

@media(max-width:600px){
    .movie-search-inner{
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
    }

    .movie-search{
        width: 100%;
        padding: 0 20px;
    }

    .movie-search [type="text"]{
        width: 100%;
    }

    .movie-search .fa-solid{
        right: 6%;
    }

    .movie-search-inner button{
        width: 92%;
    }

    .review-user-form{
        flex-wrap: wrap;
    }

    .review-user-form > p{
        width: 100%;
        margin-bottom: 20px;
    }

    .movies-cast-name ul{
        font-size: 14px;
        gap: 10px;
    }
    .movies-cast-name ul li .movies-cast-list h3{
        margin: 5px 0 0;
    }

    section{
        padding: 50px 20px 108px;
    }
}